.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
  vertical-align: super;
}

.language-bash::before {
  content: "$";
  color: #ddd;
  margin-right: 0.5rem;
}

.language-bash {
  color: #7d833c !important;
  margin-right: 0.5rem;
}

.language-bash-session::before {
  content: "#";
  color: red;
  margin-right: 0.5rem;
}

.language-bash-session {
  color: #ff8c8c !important;
  margin-right: 0.5rem;
  padding: 0.5rem;
}

.dark pre {
  color: inherit !important;
}

.chroma .go {
  color: inherit !important;
}

// github-light.css .line class was not working with flex
.chroma .line {
    display: inline-flex !important;
}
