---
import { Icon } from "astro-icon/components";
import SocialLink from "../components/SocialLink.astro";
import CvButton from "../components/CvButton.astro";
---

<section id="about" class="lg:mx-32">
  <div class="grid gap-0 grid-cols-2 grid-rows-1">
    <div class="text-center border-t-2 border-r-2">
      <Icon name="avatar" class:list={["size-32", "sm:size-48"]} />

      <div class="pb-4">
        <h1 class="text-xl md:text-2xl lg:text-4xl">Steven Almeroth</h1>
        <div class="text-sm md:text-lg lg:text-2xl">Code Of Honor</div>
        <div class="text-sm md:text-lg lg:text-2xl">
          <a href="https://primesite.dev/" target="_blank" rel="noopener">
            <span>Prime Site Tech</span>
          </a>
        </div>
      </div>

      <ul class="social-icons inline-flex flex-wrap" aria-hidden="true">
        <li><SocialLink href="mailto:steven@primesite.dev" name="email" /></li>
        <li><SocialLink href="https://github.com/stav" name="github" /></li>
        <li><SocialLink href="https://stackoverflow.com/users/395737/steven-almeroth?tab=profile" name="stackoverflow" /></li>
        <li><SocialLink href="https://stackexchange.com/users/169573/steven-almeroth" name="stackexchange" /></li>
        <li><SocialLink href="https://bitbucket.org/stav/" name="bitbucket" /></li>
        <li><SocialLink href="https://linkedin.com/in/stevenalmeroth" name="linkedin" /></li>
        <li><SocialLink href="cv" name="cv" /></li>
      </ul>
    </div>
    <div class="border-b-2 ps-8">
      <h2 class="text-xl md:text-2xl lg:text-4xl">Biography</h2>

      <a href="/post/bio">
        <button
          class="bg-slate-700 text-purple-200 dark:bg-purple-200 dark:text-slate-700 font-semibold tracking-wide px-4 py-1 rounded-md lg:rounded-lg text-sm lg:text-lg"
          type="button"
        >
          Read bio
        </button>
      </a>

      <h3 class="text-lg md:text-xl lg:text-2xl">Interests</h3>
      <ul class="font-read list-disc list-inside leading-snug text-sm md:text-lg">
        <li>Living Honestly</li>
        <li>Family Matters</li>
        <li>Information Retrieval</li>
      </ul>

      <h3 class="text-lg md:text-xl lg:text-2xl">Education</h3>
      <ul class="font-read text-sm md:text-lg">
        <li class="pb-2">
          <Icon name="graduate" class:list={["size-8"]} />
          <div class="inline-grid ps-2">
            <div class="leading-snug">Colored Pill Revelations, 1965</div>
            <div class="leading-snug text-sm opacity-70">
              School of Hard Knocks
            </div>
          </div>
        </li>
        <li>
          <Icon name="graduate" class:list={["size-8"]} />
          <div class="inline-grid ps-2">
            <div class="leading-snug">BSc in Computer Science, 1988</div>
            <div class="leading-snug text-sm opacity-70">
              University of Dayton
            </div>
          </div>
        </li>
      </ul>
      <div class="py-8">
        <CvButton />
      </div>
    </div>
  </div>
</section>
