---

---

<a
  href="/Almeroth-resume.pdf"
  download="Almeroth-resume.pdf"
  target="_blank_"
>
  <button
    class="bg-slate-700 text-purple-200 dark:bg-purple-200 dark:text-slate-700 font-semibold tracking-wide px-4 py-1 rounded-md lg:rounded-lg text-sm lg:text-lg"
    type="button"
  >
    Download PDF
  </button>
</a>
