---

---

<style>
  .chart .bar {
    @apply bg-indigo-400 dark:bg-indigo-700 rounded;
    display: inline-flex;
    height: 2rem;
    margin-bottom: 0.4rem;
    overflow: visible;
    padding-left: 2px;
    border: 1px dotted rgb(194, 162, 255);
  }
  .chart .bar .label {
    white-space: nowrap;
  }
</style>

<figure class="mt-8">
  <figcaption>
    <a
      href="https://survey.stackoverflow.co/2023/#most-popular-technologies-database-prof"
      target="_blank"
    >
      Databases
    </a>
  </figcaption>
  <div class="chart">
    <div>
      <div class="bar w-3/5">
        <span class="label">PostgreSQL</span>
      </div>
    </div>

    <div>
      <div class="bar w-2/3">
        <span class="label">MySQL</span>
      </div>
    </div>

    <div>
      <div class="bar w-2/5">
        <span class="label">SQLite</span>
      </div>
    </div>

    <div>
      <div class="bar w-1/4">
        <span class="label">Microsoft SQL Server</span>
      </div>
    </div>

    <div>
      <div class="bar w-1/6">
        <span class="label">MongoDB</span>
      </div>
    </div>

    <div>
      <div class="bar w-1/6">
        <span class="label">Redis</span>
      </div>
    </div>

    <div>
      <div class="bar w-2/3">
        <span class="label">MariaDB</span>
      </div>
    </div>

    <div>
      <div class="bar w-1/6">
        <span class="label">Elasticsearch</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Dynamodb</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Oracle</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Cloud Firestore</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Firebase Realtime Database</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">BigQuery</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">H2</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Cosmos DB</span>
      </div>
    </div>

    <div>
      <div class="bar w-1/6">
        <span class="label">Microsoft Access</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">InfluxDB</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Cassandra</span>
      </div>
    </div>

    <div>
      <div class="bar w-1/6">
        <span class="label">Supabase</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Snowflake</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Neo4J</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">IBM DB2</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Solr</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Firebird</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Clickhouse</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Couch DB</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Cockroachdb</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Couchbase</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">DuckDB</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Datomic</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">RavenDB</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">TiDB</span>
      </div>
    </div>
  </div>
</figure>
