---

---

<style>
  .chart .bar {
    @apply bg-blue-400 dark:bg-blue-700 rounded;
    display: inline-flex;
    height: 2rem;
    margin-bottom: 0.4rem;
    overflow: visible;
    padding-left: 2px;
    border: 1px dotted rgb(194, 162, 255);
  }
  .chart .bar .label {
    white-space: nowrap;
  }
</style>

<figure class="mt-8">
  <figcaption>
    <a
      href="https://survey.stackoverflow.co/2023/#most-popular-technologies-new-collab-tools-prof"
      target="_blank"
    >
      Integrated development environment
    </a>
  </figcaption>

  <div class="chart">
    <div>
      <div class="bar w-[28rem]">
        <span class="label">Visual Studio Code</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Visual Studio</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">IntelliJ IDEA</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Notepad++</span>
      </div>
    </div>

    <div>
      <div class="bar w-[16rem]">
        <span class="label">Vim</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Android Studio</span>
      </div>
    </div>

    <div>
      <div class="bar w-[8rem]">
        <span class="label">PyCharm</span>
      </div>
    </div>

    <div>
      <div class="bar w-[30rem]">
        <span class="label">Sublime Text</span>
      </div>
    </div>

    <div>
      <div class="bar w-[10rem]">
        <span class="label">Jupyter Notebook/JupyterLab</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Neovim</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Xcode</span>
      </div>
    </div>

    <div>
      <div class="bar w-[6rem]">
        <span class="label">Eclipse</span>
      </div>
    </div>

    <div>
      <div class="bar w-[6rem]">
        <span class="label">Nano</span>
      </div>
    </div>

    <div>
      <div class="bar w-[8rem]">
        <span class="label">WebStorm</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">PhpStorm</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Rider</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">DataGrip</span>
      </div>
    </div>

    <div>
      <div class="bar w-[6rem]">
        <span class="label">Atom</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">CLion</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Emacs</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">IPython</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Goland</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">VSCodium</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Netbeans</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Rad Studio (Delphi, C++ Builder)</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Qt Creator</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">RStudio</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Fleet</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Code::Blocks</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">RubyMine</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Helix</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Kate</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Spyder</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">BBEdit</span>
      </div>
    </div>

    <div>
      <div class="bar w-[8rem]">
        <span class="label">Geany</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">TextMate</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Micro</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Nova</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">condo</span>
      </div>
    </div>
  </div>
</figure>
