---

---

<style>
  .chart .bar {
    @apply bg-pink-400 dark:bg-pink-700 rounded;
    display: inline-flex;
    height: 2rem;
    margin-bottom: 0.4rem;
    overflow: visible;
    padding-left: 2px;
    border: 1px dotted rgb(194, 162, 255);
  }
  .chart .bar .label {
    white-space: nowrap;
  }
</style>

<figure class="mt-8">
  <figcaption>
    <a
      href="https://survey.stackoverflow.co/2023/#most-popular-technologies-misc-tech-prof"
      target="_blank"
    >
      Other frameworks and libraries
    </a>
  </figcaption>

  <div class="chart">
    <div>
      <div class="bar w-[0rem]">
        <span class="label">.NET (5+)</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">NumPy</span>
      </div>
    </div>

    <div>
      <div class="bar w-[8rem]">
        <span class="label">Pandas</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">.NET Framework (1.0 - 4.8)</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Spring Framework</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">RabbitMQ</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">TensorFlow</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Scikit-Learn</span>
      </div>
    </div>

    <div>
      <div class="bar w-[12rem]">
        <span class="label">Flutter</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Apache Kafka</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Torch/PyTorch</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">React Native</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Opencv</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Electron</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">OpenGL</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Qt</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">CUDA</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Keras</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Apache Spark</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">SwiftUI</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Xamarin</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Ionic</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Hugging Face Transformers</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">GTK</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Cordova</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">.NET MAUI</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Hadoop</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Tauri</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Capacitor</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Tidyverse</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Quarkus</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Ktor</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">MFC</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">JAX</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Micronaut</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Uno Platform</span>
      </div>
    </div>
  </div>
</figure>
