---

---

<style>
  .chart .bar {
    overflow: visible;
    display: inline-flex;
    height: 2rem;
    margin-bottom: 0.4rem;
  }
  .chart .bar .label {
    white-space: nowrap;
  }
</style>

<figure class="mt-8">
  <figcaption>
    <a
      href="https://survey.stackoverflow.co/2023/#most-popular-technologies-language-prof"
      target="_blank"
    >
      Programming, scripting, and markup languages
    </a>
  </figcaption>
  <div class="chart">
    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[32rem]">
        <span class="label">JavaScript</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[30rem]">
        <span class="label">HTML/CSS</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[24rem]">
        <span class="label">SQL</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[48rem]">
        <span class="label">Python</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[28rem]">
        <span class="label">TypeScript</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[14rem]">
        <span class="label">Bash/Shell (all shells)</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[8rem]">
        <span class="label">Java</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">C#</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[1rem]">
        <span class="label">C++</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[18rem]">
        <span class="label">PHP</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[4rem]">
        <span class="label">C</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[1rem]">
        <span class="label">Go</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">PowerShell</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[8rem]">
        <span class="label">Rust</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Kotlin</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Ruby</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[6rem]">
        <span class="label">Dart</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[6rem]">
        <span class="label">Lua</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Swift</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[4rem]">
        <span class="label">Assembly</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[2rem]">
        <span class="label">Visual Basic (.Net)</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Groovy</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[2rem]">
        <span class="label">Delphi</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Scala</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">R</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">MATLAB</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[4rem]">
        <span class="label">VBA</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Elixir</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Objective-C</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[6rem]">
        <span class="label">Perl</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Haskell</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Solidity</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Clojure</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[2rem]">
        <span class="label">Lisp</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">GDScript</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Erlang</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">F#</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Julia</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[4rem]">
        <span class="label">Prolog</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Zig</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[2rem]">
        <span class="label">Fortran</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[1rem]">
        <span class="label">Ada</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Apex</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">OCaml</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[6rem]">
        <span class="label">Cobol</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Crystal</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">SAS</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Nim</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Flow</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">APL</span>
      </div>
    </div>

    <div>
      <div class="bar bg-purple-400 dark:bg-purple-700 w-[0rem]">
        <span class="label">Raku</span>
      </div>
    </div>
  </div>
</figure>
