---

---

<style>
  .chart .bar {
    @apply bg-fuchsia-400 dark:bg-fuchsia-700 rounded;
    display: inline-flex;
    height: 2rem;
    margin-bottom: 0.4rem;
    overflow: visible;
    padding-left: 2px;
    border: 1px dotted rgb(194, 162, 255);
  }
  .chart .bar .label {
    white-space: nowrap;
  }
</style>

<figure class="mt-8">
  <figcaption>
    <a
      href="https://survey.stackoverflow.co/2023/#most-popular-technologies-webframe-prof"
      target="_blank"
    >
      Web frameworks and technologies
    </a>
  </figcaption>

  <div class="chart">
    <div>
      <div class="bar w-[30rem]">
        <span class="label">Node.js</span>
      </div>
    </div>

    <div>
      <div class="bar w-[10rem]">
        <span class="label">React</span>
      </div>
    </div>

    <div>
      <div class="bar w-[10rem]">
        <span class="label">jQuery</span>
      </div>
    </div>

    <div>
      <div class="bar w-[10rem]">
        <span class="label">Express</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Angular</span>
      </div>
    </div>

    <div>
      <div class="bar w-[8rem]">
        <span class="label">Next.js</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">ASP.NET CORE</span>
      </div>
    </div>

    <div>
      <div class="bar w-[36rem]">
        <span class="label">Vue.js</span>
      </div>
    </div>

    <div>
      <div class="bar w-[24rem]">
        <span class="label">WordPress</span>
      </div>
    </div>

    <div>
      <div class="bar w-[6rem]">
        <span class="label">ASP.NET</span>
      </div>
    </div>

    <div>
      <div class="bar w-[6rem]">
        <span class="label">Flask</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Spring Boot</span>
      </div>
    </div>

    <div>
      <div class="bar w-[12rem]">
        <span class="label">Django</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Laravel</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">FastAPI</span>
      </div>
    </div>

    <div>
      <div class="bar w-[8rem]">
        <span class="label">AngularJS</span>
      </div>
    </div>

    <div>
      <div class="bar w-[20rem]">
        <span class="label">Svelte</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Ruby on Rails</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">NestJS</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Blazor</span>
      </div>
    </div>

    <div>
      <div class="bar w-[22rem]">
        <span class="label">Nuxt.js</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Symfony</span>
      </div>
    </div>

    <div>
      <div class="bar w-[10rem]">
        <span class="label">Deno</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Gatsby</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Fastify</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Phoenix</span>
      </div>
    </div>

    <div>
      <div class="bar w-[4rem]">
        <span class="label">Drupal</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">CodeIgniter</span>
      </div>
    </div>

    <div>
      <div class="bar w-[16rem]">
        <span class="label">Solid.js</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Remix</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Elm</span>
      </div>
    </div>

    <div>
      <div class="bar w-[0rem]">
        <span class="label">Play Framework</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Lit</span>
      </div>
    </div>

    <div>
      <div class="bar w-[2rem]">
        <span class="label">Qwik</span>
      </div>
    </div>
  </div>
</figure>
