{{ $w := default "100" (.Get 0) }}
{{ $h := default "300" (.Get 1) }}
{{ $r := ( .Inner | chomp) }}
{{ $seed := "foo" }}
{{ $id := delimit (shuffle (split (md5 $seed) "" )) "" }}

<div style="width: {{ $w }}%;height: {{ $h }}px;margin: 0 auto">
    <canvas id="{{ $id }}"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script type="text/javascript">
  var ctx = document.getElementById('{{ $id }}').getContext('2d');
  var options = {{ $r | safeJS }};
  var data = options.zipData;
  data.forEach(tup => {
    options.data.labels.push(tup[0]);
    options.data.datasets[0].data.push(tup[1]);
  });
  new Chart(ctx, options);
</script>
